@model IEnumerable<MoodTracker.Entities.ViewModel.ActivityDashboardViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mood Tracker</h1>
    <p class="lead">Mood Tracker is an application project for CS630 to track mood of students for various activities.</p>
    <p>You can create activities and record mood at different times during the activity so as to figure out the stress level.</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="dashboardMenu">
        <div class="col-lg-4">
            @Html.ActionLink("Activity Types", "index", "activitytype")
        </div>
        <div class="col-lg-4">
            @Html.ActionLink("Activities", "index", "activity")
        </div>
    </div>

    <div class="recentActivities">
        @foreach (var activity in Model)
        {
            <div class="col-lg-3">
                @activity.Title
                <br />
                @activity.DueDate
                @Html.ActionLink("View Activity", "index", "activity", new { id = activity.Id }, null)
            </div>
        }
    </div>
}
