@model MoodTracker.Entities.ViewModel.ActivityLogViewModel

@{
    ViewBag.Title = "Unarchive";
    var imageName = "~/Images/mood" + Model.Mood + ".png";
}

@using (Html.BeginForm("unarchive", "activitylog", FormMethod.Post, new { @class="form-big"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ActivityId)
    <div class="form-horizontal">
        <div class="pageHeading">
            <h2>Activity</h2>
            <p>
                Are you sure you want to unarchive this?
            </p>
        </div>

        <div class="row form">
            <div class="col-lg-12">
                <div>
                    <u>@Html.Label("Mood On " + @Model.CreationStamp))</u>
                </div>
                <img src=@Url.Content(imageName) alt="Mood Icon" class="md-icon" />
            </div>

            <div class="col-lg-12">
                <u>@Html.Label("Note")</u>
                @Html.Label(Model.Note)
            </div>
        </div>

        <div class="form-action">
            <input type="submit" value="Unarchive" class="btn btn-primary btn-lg" />
            @Html.ActionLink("Cancel", "index", "activitylog", new { id = Model.ActivityId }, new { @class = "btn btn-secondary btn-lg" })
        </div>


        <div class="backAction">
            @Html.ActionLink("<< Back to Current List", "Index")
        </div>
    </div>
}