@model MoodTracker.Entities.ViewModel.ActivityTypeViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("create", "activitytype", FormMethod.Post, new { @class = "form-big" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="pageHeading">
            <h2>Activity Type</h2>
            <p>
                Save a Activity Type information. Please enter the type of the activity and Click Save.
                You will be able to select the activity types while entering activities.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form">
            <div class="col-lg-12">
                <u>@Html.Label("Activity Type")</u>
                <span class="required">*</span>
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-action">
            <input type="submit" value="Save" class="btn btn-primary btn-lg" />
            @Html.ActionLink("Cancel", "index", "activitytype", null, new { @class = "btn btn-secondary btn-lg" })
        </div>


        <div class="backAction">
            @Html.ActionLink("<< Back to Current List", "Index")
        </div>
    </div>
}