@model MoodTracker.Entities.ViewModel.ActivityBasicInfoViewModel

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm("delete", "activity", FormMethod.Post, new { @class="form-big"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="form-horizontal">
        <div class="pageHeading">
            <h2>Activity</h2>
            <p>
                Are you sure you want to delete this?
            </p>
        </div>

        <div class="row form">
            <div class="col-lg-12">
                <div>
                    <u>@Html.Label("Title")</u>
                </div>
                @Html.Label(Model.Title)
            </div>
        </div>

        <div class="form-action">
            <input type="submit" value="Delete" class="btn btn-primary btn-lg" />
            @Html.ActionLink("Cancel", "index", "activity", null, new { @class = "btn btn-secondary btn-lg" })
        </div>


        <div class="backAction">
            @Html.ActionLink("<< Back to Current List", "Index")
        </div>
    </div>
}